/*color*/
.bg-green{
    background-color:#52dc90;
    color: #fff;
    box-shadow: 0 0 7px 0px #52dc90;
    border: 1px solid #52dc90;
}
.bg-blue{
    background-color: #55a8fd;
    color: #fff;
    box-shadow: 0 0 7px 0px #55a8fd;
    border: 1px solid #55a8fd;
}
.border-blue{
    color: #55a8fd;
    border: 1px solid #55a8fd;
}
/* component */
.text-black{
    color: #333;
}
.text-gray{
    color:#888;
}
.button{
    position: relative;
    padding: 15px 30px 15px 30px;
    text-decoration: none;
    display: inline-block;
    margin-right: 15px;
    border-radius: 3px;
}
.button a:hover{
    text-decoration: none;
}

/*profile*/
.box-profile{
    position: relative;
    width: 80%;
    height: 100%;
    min-height:250px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 0 7px 0px #333;
    }
.img-profile{
    position: relative;
    display: inline-block;
    width: 180px;
    height: 180px;
    border-radius: 300px;
    float: left;
    top: 25px;
    margin-left: 40px;
    border: 1px solid black;
}
.photo{
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px -20px;
    border-radius: 300px;
}
.description{
    position: relative;
    width: 400px;
    display: inline-block;
    float: left;
    top: 50px;
    margin-left: 30px;
    font-family: 'Helvetica', sans-serif;
    border-right: 1px solid #efefef;
}
.description h1{
    font-size: 32px;
    margin-bottom: 14px;
}
.description p{
    color: rgb(0, 0, 0);
    font-size: 20px ;
}
.description .button{
    margin-top: 40px;
}
.information{
    position: relative;
    display:inline-block;
    float: left;
    font-family: 'Helvetica', sans-serif;
    top: 45px;
    margin-left: 30px;
}
.information .data{
    display: block;
    width: 100%;
    height: 36px;
}
.information p.field{
    font-weight: 600;
    width: 150px;
    color: #333;
}
.information .data p{
    float: left;
}

/*form*/
section#input-form{
    position: relative;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    border: 1px solid #888;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 7px 0px #333;
    padding: 30px;
}
#input-form .form{
    width: 100%;
    display: grid;
    margin-top:15px;
    margin-bottom: 15px;
}
label{
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
input{
    font-family: 'Helvetica', sans-serif;
    padding: 10px 20px 10px 20px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #8888;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size:16px;
}

/*responsive*/
@media screen and (max-width: 300px){
    .box-profile{
        width: 100%;
        min-height: 1000px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 30px;
    }
}

.setHide {
    display: none;
}

.setShow {
    display: block;
}